.clearfix {
  clear: both;
}

.container {
  font-family: "Open Sans";
  margin-top: 30px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
  display: block;
  margin-bottom: 40px;
}

.pic {
  float: left;
  margin-right: 20px;
}

.title {
  color: #262626;
  font-size: 16px;
  font-weight: bold;
  padding-top: 16px;
}

.subtitle {
  color: #666;
  font-size: 12px;
  margin-top: 6px;
}

.contact {
  color: #262626;
  font-size: 16px;
}

.copyright {
  color: #666;
  font-size: 12px;
  text-align: center;
}

